<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Microsoft Algun Dia</title>
    <link rel="shortcut icon" href="https://store-images.s-microsoft.com/image/apps.62263.13634052595610511.c45457c9-b4af-46b0-8e61-8d7c0aec3f56.4a508410-9e70-413b-b7eb-7d7c1ae3828f?w=75" type="image/x-icon">
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>