<div class="navbar bg-base-100 shadow-sm px-4 fixed z-50">
    <div class="flex-1">
    <a href="/" class="flex items-center">
      <img src="/logo/rigby.png"
        class="h-12 w-12 object-contain" alt="Logo" />
    </a>
    </div>
    <div class="flex-none">
      {{#if currentUser}}
        <span>Hola, {{currentUser.name}}</span>
        <form action="/logout" method="POST" style="display:inline;">
          <button type="submit">Cerrar sesión</button>
        </form>
      {{else}}
        <a href="/login">Iniciar sesión</a>
      {{/if}}
      <a href="/cart" style="margin-left:12px;">Carrito ({{cart.length}})</a>
    </div>
</div>
<script src="/js/cart.js" defer></script>
