<div class="navbar bg-base-100 shadow-sm px-4">
    <!-- Logo a la izquierda -->
    <div class="flex-1">
        <a href="/" class="flex items-center">
            <img src="https://store-images.s-microsoft.com/image/apps.62263.13634052595610511.c45457c9-b4af-46b0-8e61-8d7c0aec3f56.4a508410-9e70-413b-b7eb-7d7c1ae3828f?w=75"
                alt="Logo" class="h-12 w-12 object-contain" />
        </a>
    </div>

    <!-- Botón a la derecha -->
    <div class="flex-none">
        <button class="btn btn-ghost btn-square" aria-label="Menu">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="h-6 w-6 stroke-current">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h14M5 6h14M5 18h14" />
            </svg>
        </button>
    </div>
</div>